<html>
<head>
    <title>Blog - {{ blog.name.toString }}</title>
</head>
<body>
id: {{ blog.id.toInt }} <br>
name: {{ blog.name.toString }} <br>
description: {{ blog.description.toString }} <br>
status: {{ blog.status.toInt }} - {{ blog.status.toString }}<br>
</body>
</html>
